:root {
  --colorPrimary: #212121;
  --colorSecondary: #2196f3;
  --colorTertiary: #757575;
  --colorLogoPrimary: #000000;
  --colorHero: #ffffff;
  --colorFooterLink: rgba(255, 255, 255, 0.6);

  --bgColorPrimary: #ffffff;
  --bgColorSecondary: #2f303a;
  --bgColorTertiary: #f5f4fa;

  --btnColorPrimary: #ffffff;
  --btnBgColor: #2196f3;
  --btnBgColorHov: #188ce8;

  --svgColorPrimary: #afb1b8;
  --svgColorSecondary: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--colorPrimary);
  background-color: var(--bgColorPrimary);
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Header */
.header-nav {
  margin-left: 93px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--colorLogoPrimary);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web {
  color: var(--colorSecondary);
}
.div-header {
  display: flex;
  align-items: center;
}
/* Navigation list */
.list,
.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  list-style: none;
}
.list a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 32px 0;
}
.list a:hover,
.list a:focus {
  color: var(--colorSecondary);
}
.list {
  display: flex;
}
.list-li:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--colorSecondary);
}
/* Header contacts */
.contacts {
  color: var(--colorTertiary);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--colorSecondary);
}
.contacts-list {
  display: flex;
  margin-left: auto;
}
.contacts-list > li:not(:first-child) {
  margin-left: 30px;
}
.icon-header {
  margin-right: 10px;
  fill: currentColor;
}
.contacts-list a {
  display: flex;
  align-items: center;
}
/* Index - Section 1 (Head) */
.head {
  background-color: var(--bgColorSecondary);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding: 200px 0px;
  text-align: center;

  max-width: 1600px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-inline: auto;
}
.h1-index {
  color: var(--colorHero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}
.button-index {
  color: var(--btnColorPrimary);
  background-color: var(--btnBgColor);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;

  min-width: 200px;
  padding: 10px 32px;
}
.button-index:hover,
.button-index:focus {
  background-color: var(--btnBgColorHov);
}
/* Index - Section 2 (Features) */
.h2-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.feature-list .text {
  color: var(--colorTertiary);
  font-size: 14px;
  line-height: 1.71;

  text-align: left;
}
.feature-list li {
  width: 270px;
}
.feature-list > li:not(:first-child) {
  margin-left: 30px;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
.icon-wrapper {
  width: 270px;
  /* height: 120px; */

  background-color: var(--bgColorTertiary);

  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-bottom: 30px;
}
.feature-icon {
  display: block;
  background-color: var(--bgColorTertiary);
}
/* Index - Section 3 (Our work) */
.section.work {
  padding-top: 0px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
.section.work li {
  list-style: none;
}
.ul-work {
  display: flex;
  justify-content: space-between;
}
.ul-work img {
  display: block;
}
/* Index - Section 4 (Our Team) */
.our-team {
  background: var(--bgColorTertiary);
}
.team-list .text {
  color: var(--colorTertiary);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.section4-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}
.section4-li {
  background: var(--bgColorPrimary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.wrapper4 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section4-li img {
  display: block;
}
.ul-social-team {
  display: flex;
  list-style: none;
  justify-content: center;

  margin-top: 16px;
}
.ul-social-team > li:not(:first-child) {
  margin-left: 10px;
}
.ul-social-team > li {
  width: 44px;
  height: 44px;
}
.ul-social-team > li > a {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.ul-social-team > li > a:hover,
.ul-social-team > li > a:focus {
  background-color: var(--btnBgColor);
}
.ul-social-team > li > a:hover .icon-team,
.ul-social-team > li > a:focus .icon-team {
  fill: var(--svgColorSecondary);
}
.icon-team {
  fill: var(--svgColorPrimary);
}
/* Index - Section 5 (Loyal Customers) */
.ul-customers {
  display: flex;
  justify-content: center;
  list-style: none;
}
.ul-customers > li:not(:first-child) {
  margin-left: 30px;
}
.ul-customers > li {
  width: 170px;
  height: 92px;
  /* border: 1px solid #afb1b8;
  border-radius: 4px; */
}
.ul-customers > li > a {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ul-customers > li > a:hover,
.ul-customers > li > a:focus {
  border-color: var(--colorSecondary);
}
.ul-customers > li > a:hover .icon-customers,
.ul-customers > li > a:focus .icon-customers {
  fill: var(--colorSecondary);
}
.icon-customers {
  fill: var(--svgColorPrimary);
}
/* Footer */
.footer {
  color: var(--colorHero);
  background-color: var(--bgColorSecondary);

  padding: 60px 0px;
}
.logo-footer {
  color: inherit;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-bottom: 20px;
  display: block;
}
.logo-footer:visited {
  color: var(--colorHero);
}
.footer .link {
  color: var(--colorFooterLink);
  text-decoration: none;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--colorSecondary);
  text-decoration: none;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address > p {
  margin-bottom: 9px;
}
.ul-footer {
  list-style: none;
}
.ul-footer > li:not(:last-child) {
  margin-bottom: 9px;
}
.flex-footer {
  display: flex;
  align-items: baseline;
}
.flex-footer div {
  width: 231px;
}
.footer-join {
  margin-left: 70px;
}
.footer-join > p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 20px;
}
.ul-join {
  display: flex;
  list-style: none;
}
.ul-join > li:not(:first-child) {
  margin-left: 10px;
}
.ul-join > li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.ul-join > li:hover,
.ul-join > li:focus {
  background-color: var(--colorSecondary);
}
.ul-join > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}
.ul-join > li > a:hover,
.ul-join > li > a:focus {
  background-color: var(--colorSecondary);
}
.icon-join {
  fill: var(--svgColorSecondary);
}
.icon-join:hover,
.icon-join:focus {
  fill: var(--svgColorSecondary);
}
/* Portfolio - Categories */
.list-categories {
  list-style: none;
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.li-categories:not(:first-child) {
  margin-left: 8px;
}
.button-categories {
  background-color: var(--bgColorTertiary);
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  padding: 6px 22px;
  border-radius: 4px;
}
.button-categories:hover,
.button-categories:focus {
  color: var(--colorHero);
  background-color: var(--btnBgColor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Portfolio - Projects */
.list-projects {
  list-style: none;
  display: flex;

  flex-wrap: wrap;
}
.list-projects > li {
  /* border-bottom: 1px solid #eeeeee; */
  /* padding-bottom: 20px; */
  margin-bottom: 30px;
  margin-left: 30px;
}
.list-projects > li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.list-projects > li:nth-child(3n + 1) {
  margin-left: 0px;
}
.list-projects > li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.list-projects > li > a:hover,
.list-projects > li > a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.list-projects img {
  display: block;
  /* margin-bottom: 20px; */
}
.text-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-inline: 24px;

  border-bottom: 1px solid #eeeeee;
  border-inline: 1px solid #eeeeee;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.projects-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--colorTertiary);
}
.list-projects a {
  text-decoration: none;
}
.list-projects a:visited {
  color: inherit;
}
/* Buttons style */
button {
  cursor: pointer;
}
/* Container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
